body {
    margin: 0;
    font-family: 'Playfair Display', serif;
}

main{


    background-image: url("imagenes/fondo.png");
    background-size: cover;
    background-position: center;
}

h3{

    text-align:left;
    font-size: 2em;
    margin-bottom: 0.7em;
    margin-top: 0.7em;
    margin-left: 1em;
    color:rgb(70, 243, 84);

    
}

p{
    font-weight: 200;
    font-style: italic;
    font-size: 1.3em;
    margin-top: 0.2em;
    color: rgb(56, 199, 199);
}

.contenedor-grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header {
    background-image: linear-gradient(to bottom, #af0c50, #32154d);
    display: grid;
    grid-template-columns: 80px 2fr 1fr;
    align-items: center;
    padding: 20px;
    border: 0.2em solid black;
    position:sticky;
    top: 0;
    width: 96,9%;
}

.header h1 {
    justify-self: center;
    color: rgb(56, 199, 199);
    font-size: 2.2em;
    
}

.header ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 2em;
    padding: 0;
}

.header a {
    color: rgb(70, 243, 84);
    font-size: 1.5em;
    text-decoration: none;
}


.header img{

    padding: 0.5em;
}

.header img:hover{

    transform: scale(1.2);
    transition: 0.4s ease-in-out;
}


.productos{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
    gap: 2em;
    padding: 1em;
    
}

.card{

    color:rgb(12, 11, 11);
    padding: 1em;
    width: 18em;
    height: 18em;
    border-radius: 4%;
    border: 0.4em ridge #c42f6d;
    background-size: cover;
}

.card h2{

    margin-top: -0.7em;
    margin-left: -0.3em;
    
}

.card:hover{

    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    border: 0.4em ridge #9b0043;
}

.card1{

    background-image: url("imagenes/bott.png");
    background-position: 0em 2em;
    
}

.card2{
    background-image:url("imagenes/hol.png");
    
    
}

.card3{
    background-image: url("imagenes/slowdive.jpg");
    
}

.card4{

    background-image: url("imagenes/minecraft.jpg");
    
}


.Reseñas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 1em;
    
}


.reseña{
    border: 0.4em solid #dd206f;
    border-radius: 0.5em;
    text-align: center;
    justify-self: center;
    width: 68%;
    transition: transform 0.3s ease;
    grid-template-rows: 200px auto auto;
    display: grid;
    background-image: linear-gradient(to bottom, #1660cf, #3e2357);
     
}

.reseña h2{

    color:rgb(70, 243, 84);
    grid-row: 2;
    margin-top: 0.5em;
    margin-bottom: 0.1em;
    padding: 0.2em;

}

.reseña p{
    margin-top: -0.4em;
    padding: 0.8em;
    margin-bottom: 0;
    grid-row: 3;
    color: rgb(54, 192, 192);

}

.reseña img{
    grid-row: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.reseña:hover{
    transform: scale(1.1);
    border: 0.4em solid #fa61a1; 

}


form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3em;
    margin: 5.7em;
    margin-top: 4em;
    border: #dd206f groove 0.5em;
    background-image: linear-gradient(to bottom, #1a5bbd, #58228b);
}

input, label, textarea, button{

    text-align: center;
    width: 30em;
    margin-bottom: 0.8em;
    margin-top: 0.3em;
    
}

label{

    color:rgb(39, 224, 54);
}

input{
    padding: 1em;
    border: #eb3681 0.3em groove;
}

textarea{
    padding: 1em;
    border: #eb3681 0.3em groove;
}

button{
    height: 3.5em;
    border: #e67ca8 0.3em groove;
    background-color: rgb(39, 224, 54);
}

button:hover{

    background-color: rgb(3, 100, 11);
    transform: scale(1.08);
    border: #eb3681 0.3em groove;
}

footer {
    text-align: center;
    background-image: linear-gradient(to top, #af0c50, #32154d);
    padding: 0.5em;
    height: 3em;
    padding-top: 1em;
    
}

@media (max-width: 959px){
   
    
    .header{

        grid-template-columns: 90px auto;
        grid-template-rows: auto auto;
       
    }

    .header img{

        grid-row: 1;
        grid-column: 1;
        padding: 0.5em;
        margin-left: -0.5em;
    }

    .header h1{

        grid-row: 1;
        grid-column: 2;
        justify-self:center;
        font-size: 2em;
        margin-left: -0.2em;
        
    }
    
     nav{
    
        grid-row: 2;
        grid-column: 1 / 3;
    }

    

    .Reseñas{

        grid-template-columns: 1fr 1fr;
        gap: 3em;

    }

    .reseña{

        width: 90%;
        
    }

    input, label, textarea, button{

        text-align: center;
        width: 10em;
        font-size: 1.5em;
        
        
    }

    textarea{

        width: 13em;
    }

    button{

        width:12em;
    }

    form{

        padding: 3em;
    }
    
    
}