body {
    margin: 0;
    font-family: 'Playfair Display', serif;
}

.contenedor-grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header {
    background-image: linear-gradient(to top, #1241a5, #a81c03);
    display: grid;
    grid-template-columns: 80px 2fr 1fr;
    align-items: center;
    padding: 20px;
    border: 0.2em solid black;
    position:sticky;
    top: 0;
    width: 96,9%;
}

.header h1 {
    justify-self: center;
    color: rgb(54, 192, 192);
    font-size: 2em;
    
}

.header ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 2em;
    padding: 0;
}

.header a {
    color: rgb(224, 53, 47);
    font-size: 1.5em;
    text-decoration: none;
}

.header img{

    padding: 0.5em;
}


.productos{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
    gap: 2em;
}

.card{

    color:black;
    padding: 1em;
    width: 18em;
    height: 18em;
}

.card h2{

    margin-top: -0.6em;
    margin-left: -0.3em;
}

.card1{

    background-image: url("imagenes/bott.png");
    background-position: 0em 2em;
    background-size: cover;
}

.card2{
    background-image:url("imagenes/hol.png");
    background-size: cover;
    background-position: 0em 0.1em;
}


.Reseñas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 1em;
    
}

h3{

    text-align:left;
    font-size: 2em;
    margin-bottom: 1em;
    margin-top: 0.7em;
    margin-left: 1em;
    color:rgb(238, 42, 35);
    
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-style: italic;
    color: #b4331c;
    font-size: 1.3em;
    margin-top: 0.2em;
}

.reseña{
    background-color: #fff;
    border: 0.4em solid rgb(54, 192, 192);
    border-radius: 0.5em;
    padding: 1em;
    text-align: center;
    background-image:linear-gradient(to left, rgb(231, 88, 250), pink);
    background-position:center;
    justify-self: center;
    width: 50%;
    transition: transform 0.3s ease;
}

.reseña:hover{
    transform: scale(1.1);
    background-color: red;

}

.reseña h2{

    color:#1241a5;

}

main{


    background-image: url("imagenes/fondo.png");
    background-size: cover;
    background-position: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
 
    flex-direction: column;
    padding: 3em;
    margin: 5.7em;
    border: rgb(54, 192, 192) groove 0.5em;
    background-image:linear-gradient(to left, rgb(224, 94, 241), pink);
}

input, label, textarea, button{

    text-align: center;
    width: 26em;
    margin-bottom: 1em;
    
}

button{
    height: 3.5em;
    border: rgb(54, 192, 192) 0.5em groove;
    background-color: rgb(248, 195, 204);
}

input{
    padding: 1em;
}

textarea{
    padding: 1em;
}

footer {
    text-align: center;
    background-image: linear-gradient(to left, #1241a5, #b4331c);
    padding: 0.5em;
    height: 3em;
    color: rgb(54, 192, 192);
}

@media (max-width: 768px) {
   
    
    .header{

        grid-template-columns: 90px auto;
        grid-template-rows: auto auto;
       
    }

    .header img{

        grid-row: 1;
        grid-column: 1;
        padding: 0.5em;
        margin-left: -0.5em;
    }

    .header h1{

        grid-row: 1;
        grid-column: 2;
        justify-self:center;
        color: rgb(54, 192, 192);
        font-size: 1.5em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-left: -0.2em;
        
       
    }
    
     nav{
    
        grid-row: 2;
        grid-column: 1 / 3;
    }

    

    .Reseñas{

        grid-template-columns: auto auto;
        

    }

    .reseña{

        width: 15em;
    }

    input, label, textarea, button{

        text-align: center;
        width: 10em;
        
    }

    form{

        padding: 3em;
    }
    
    
}